@model LMS.DATA.EF.Lesson

@{
    ViewBag.Title = "Details";
}


<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">@Html.DisplayFor(model => model.LessonTitle)</h2>
        <h3 class="h6 no-margin-bottom">@Html.DisplayFor(model => model.Introduction)</h3>
    </div>
</div>
<div>
    @if (Model.VideoURL != null)
    {
        <iframe id="VideoWindow" src=@Model.VideoURL title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="width:900px;height:508px;text-align:center;width:100%" allowfullscreen></iframe>
    }

    @if (Model.PdfFileName != null)
    {
        <embed src="~/Content/img/@Model.PdfFileName" style="width: 100%; height: 80em; margin-top: 5em;" scrolling="auto" />

    }

</div>

