@using LMS.DATA.EF;
@using Microsoft.AspNet.Identity
@{

    ViewBag.Title = "Home Page";

    FSDPLMSEntities db = new FSDPLMSEntities();
    string currentUserID = User.Identity.GetUserId();
    var courses = db.Courses;
    var lessons = db.Lessons;

}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Dashboard</h2>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{


<section class="no-padding-bottom">
    <div class="container-fluid">
        @foreach (var item in courses)
        {
            var compCourses = db.CourseCompletions.Where(x => x.CourseID == item.CourseID&& x.UserID==currentUserID).FirstOrDefault();
            <div class="public-user-block block">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 d-flex align-items-center">

                        <a href="#" class="name"><strong class="d-block">@item.CourseName</strong><span class="d-block">@item.Lessons.Count Lessons</span></a>
                    </div>
                    <div class="col-lg-4 text-center">
                        @if (compCourses != null)
                        {
                            <text>Date Completed:</text>
                            @compCourses.DateCompleted.ToShortDateString();
                        }
                    </div>
                    <div class="col-lg-4">
                        <div class="details d-flex">
                            <a href="@Url.Action("Details","Cours",new { id = item.CourseID })">View Lessons</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        

    </div>
</section>
}
else
{
<section class="no-padding-bottom">
    <div class="container-fluid">
        Please Log in
        </div>
    </section>
        }
        @*<section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="stats-with-chart-2 block">
                                <div class="title"><strong class="d-block">Credit Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
                                <div class="piechart chart">
                                    <canvas id="pieChartHome1"></canvas>
                                    <div class="text"><strong class="d-block">$2.145</strong><span class="d-block">Sales</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="stats-with-chart-2 block">
                                <div class="title"><strong class="d-block">Channel Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
                                <div class="piechart chart">
                                    <canvas id="pieChartHome2"></canvas>
                                    <div class="text"><strong class="d-block">$7.784</strong><span class="d-block">Sales</span></div>
                                </div>
                            </div>w
                        </div>
                        <div class="col-lg-4">
                            <div class="stats-with-chart-2 block">
                                <div class="title"><strong class="d-block">Direct Sales</strong><span class="d-block">Lorem ipsum dolor sit</span></div>
                                <div class="piechart chart">
                                    <canvas id="pieChartHome3"></canvas>
                                    <div class="text"><strong class="d-block">$4.957</strong><span class="d-block">Sales</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>*@

